[Unit]
Description=Main service for rocket.chat
After=docker.service rocket-db.service
Requires=docker.service

[Service]
WorkingDirectory=/var/www/rocket.chat
ExecStart=/usr/local/bin/docker-compose up rocketchat
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
